@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: "Nunito", sans-serif;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.carousel-wrapper {
  margin-top: 200px;
}

.carousel-wrapper .carousel-title {
  text-align: center;
  margin: 1rem;
  font-size: 1.7rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(#da7f82, #f8c5c7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-wrapper .carousel-subtitle {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.4rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(#7f8dda, #c8c5f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.picture {
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding-left: 10px;
}

.picture:hover {
  cursor: pointer;
  transform: scale(1.025);
  transition: 0.3s ease-in-out;
}

.slick-arrow {
  z-index: 999;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.slick-next:before,
.slick-prev:before {
  color: rgb(97, 97, 97);
}

html {
  background-color: #f0f0f0;
}
